@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&family=Lato:wght@400;700;900&family=Orbitron:wght@500;900&display=swap');


body {
  margin: 0;
}

/* Nav Bar Styling*/
header h1 {
    font-family: "Orbitron";
    font-weight: 900;
    font-size: 30px;
    line-height: 43px;
    cursor: pointer;
    margin-right: auto;
}
li, a{
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    position: relative;
    z-index: 10;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#B936F5;
    text-decoration: underline;
}
/* Containers*/
.container {
  text-align: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(resources/stars.gif);
  background-position: center;
  background-attachment: fixed;
}
.container2{
    text-align: center;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    background-position: center;
    background-attachment: fixed;
}
.container3{
    text-align: center;
    color: var(--color);
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(resources/stars.gif);
    background-position: center;
    background-attachment: fixed;
}
/* container 1*/
.flexText1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 800px;
    margin-bottom: 30%;
    margin-right: 20%;
    z-index: 1;
}
.flexText1 h1{
    max-width: fit-content;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: white;
}
.flexText1 p{
    min-width: fit-content;
    margin-bottom: auto;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: white;   
}
.flexbox1{
    min-width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-top: -9%;
}
.robot1-face1{
    background-image: url(resources/robot1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 130%;
    padding-bottom: 20px;
    left: 328px;
}
.front-box{
    border: 3px solid black;
    margin-left: 2%;
    position: absolute;
    left: 80%;
    top: 30%;
    background: #B936F5;
    width: 250px;
    height: 100px;
    z-index: 1;
}
.front-box h1{
    position: absolute;
    width: max-content;
    height: 30px;
    font-family: 'Orbitron';
    background-color: transparent;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-left: 1.5em;
    padding-top: 0.7em;
}
.back-box{
    left: 81%;
    top: 31%;
    width: 250px;
    height: 100px;
    margin-left: 30px;
    position: absolute;
    background: white;
    max-width: 100%;    
}
/* Container 2*/
.section2{
    min-width: 100%;
    max-height: 800px;
    display: flex;
    justify-content: center;
}
.section2-text {
    min-width: 250px;
    max-height: 650px;
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}
.text-flex p{
    font-family: 'Orbitron';
    font-weight: lighter;
    font-size: 19px;
    line-height: 50px;
    letter-spacing: 2px;
    padding: 1em;
    text-align: left;
}
.text-flex{
    margin-left: 50px;
    margin-right: 50px;
}
.text-flex span{
    font-family: 'Orbitron';
    font-weight: bold;
}
.section2-img{
    min-width: 50%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-flex{
    width: 94.5%;
    height: 67%;
    background-image: url(resources/galaxy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 45px;
    z-index: 1;
}
.robot2-face{
    width: 40%;
    height: 80%;
    background-image: url(resources/robot2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    transform: rotateY(180deg);
    z-index: 1;
}
.decoration-box2{
    border: 3px solid black;
    position: absolute;
    background: #B936F5;
    max-width: 100%;
    width: 250px;
    height: 90px;
    margin-left: -100px;
    margin-top: 50%;
    z-index: 1;
}
.decoration-box2 h1{
    width: max-content;
    margin: auto;
    margin-top: 10%;
    height: 30px;   
    font-family: 'Orbitron';
    background-color: transparent;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}
.box2-back{
    position: absolute;
    width: 250px;
    height: 90px;
    margin-left: 30px;
    background: black;
    max-width: 100%;   
    margin-left: -70px;
    margin-top: 43%;
}
.blank,
.other {
  width: 100%;
  max-width: 100%;
  min-height: 30vh;
  margin: 0;
  background-color: black;
}
.second {
    background-image: url(resources/bg.jpg);
    background-attachment: fixed;
    height: 1200px;
}

.item {
    display: flex;
    max-width: 320px;
    background-color: white;;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}
.item p{
    padding: 2em;
    text-align: left;
    font-family: 'Orbitron';
    font-size: small;
    letter-spacing: 1.5px;
    line-height: 17px;
}
.item p span{
    font-weight: bolder;
}
.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}
.img-first {
    background-image: url(resources/bot.gif);
}
.img-second {
    background-image: url(resources/finance.gif);
}

.img-third {
    background-image: url(resources/health.gif);
}
.img-fourth {
    background-image: url(resources/social.gif);
}
.second {
  flex-direction: row;
  gap: 1.6em;
}
/* Container 3*/
.container3-flex{
    min-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}
.container3-text{
    width: 50%;
}
.container3-divText{
    min-width: 100px;
    max-width: fit-content;
}
.container3-divText h1{
    min-width: 120px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-left: 1.5em;
    font-family: 'Orbitron';
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}
.container3-divText p{
    width: fit-content;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-right: 2em;
    margin-left: 3em;;
    text-align: left;
    font-family: 'Orbitron';
    font-weight: normal;
    font-size: 19px;
    color: white;
}
.container3-card{
    min-width: 50%;
    height: 77%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}
.item2{
    display: flex;
    max-width: 350px;
    height: 320px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}
.item2 h1{
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-top: 1em;
    margin-right: 1em;
}
.item2 p{
    font-family: 'Orbitron';
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    letter-spacing: 1px;
}
.secondItem h1{
    margin-left: 2em;
}
.container3-img{
    width: 50vw;
    height: 100vh;
}
.img1{
    position: absolute;
    width: 40%;
    height: 35%;
    margin-left: 8em;
    margin-top: 34em;
    background-image: url(resources/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2{
    position: absolute;
    width: 25%;
    height: 40%;
    margin-left: 25em;
    margin-top: 7em;
    background-image: url(resources/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img3{
    position: absolute;
    width: 17%;
    height: 30%;
    margin-top: 15em;
    margin-left: 7em;
    background-image: url(resources/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

/* Media Queries*/
@media (max-width: 1500px){

    .container{
        width: 112vw;
    }
    .container3{
        width: 112vw;
        height: 150vh;
    }
    .flexText1 h1{
       
        left: 0;
        margin-top: 300px;
        margin-left: 150px;
        top: 0;
        padding-top: 1em;
        font-weight: 900;
        font-size: 60px;
        letter-spacing: 0.2em;
        color: white;
        z-index: 1;
    }
    .flexText1 p{
        width: 800px;
        height: 700px;
        left: 0;
        top: 0;
        margin-top: 450px;
        margin-left: 250px;
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        letter-spacing: 0.05em;
        color: white;  
        padding-top: 1.5em;
        z-index: 1;
    }
    .robot1-face1{
        top: 215px;
    }
    .blank,
    .other {
        width: 112vw;
    }
    .text-flex p{
        font-weight: lighter;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 2px;
        padding-top: 1em;
        text-align: left;
    }
    .img-flex{
        margin-top: 415px;
        margin-right: -9.7em;
    }
    .robot2-face{
        margin-top: 123px;
    }
    .decoration-box2{
        margin-top: 60%;
    }
    .box2-back{
        margin-top: 61%;
    }
    .item p{
        padding: 1.5em;
        font-size: 18px;
        line-height: 25px;
    }
    
}
@media (min-width: 1100px){

    .container, .container3{
        width: 112vw;
    }
    .flexText1 h1{
        margin-top: 100px;
        margin-left: 70px;
        top: 0;
        font-weight: 900;
        font-size: 50px;
        letter-spacing: 0.1em;
    }
    .flexText1 p{
        min-width: 400px;
        height: fit-content;
        margin-top: 50px;
        margin-left: 50px;
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
    }
    .robot1-face1{
        margin-top: 5%;
    }
    .front-box{
        left: 75%;
    }
    .back-box{
        left: 76%;
    }
    .blank,
    .other {
        width: 112vw;
    }
    .text-flex{
        min-width: 700px;
        margin-bottom: 10%;
    }
    .text-flex p{
        font-weight: lighter;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 2px;
        padding-top: 1em;
        text-align: left;
    }
    .img-flex{
        margin-top: 37%;
    }
    .robot2-face{
        margin-top: 2%;
    }
    .decoration-box2{
        margin-top: 40%;
    }
    .box2-back{
        margin-top: 41%;
    }
}